* {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    color: black;
    background: none;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(#FFF, #EEE);
}