<!DOCTYPE html> 
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <title>SUNRUSE.Studio</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
        <script src="src/sunruseStudio.js"></script>
        <script src="src/projectValue.js"></script>
        <script src="src/projectController.js"></script>
        <script src="src/dialog.js"></script>
        <script src="src/history.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/general.css">
        <link rel="stylesheet" href="css/dialog.css">
        <link rel="stylesheet" href="css/track.css">
        <link rel="stylesheet" href="css/toolbar.css">
    </head>
    <body ng-app="sunruseStudio" ng-controller="projectController">
        <div>
            <div id="toolbar">
                <span id="breadcrumb">
                    <button>Untitled Project</button>
                    <button>Untitled Track</button>
                </span>
                <span class="group">
                    <button>new</button>
                    <button>open</button>
                    <button>save</button>
                    <button>save as</button>
                </span>
                <span class="group">
                    <button ng-click="history.undo();" ng-disabled="!history.canUndo()">undo</button>
                    <button ng-click="history.redo();" ng-disabled="!history.canRedo()">redo</button>
                </span>
                <span class="group">
                    <button>play</button>
                </span>
            </div>
            <div class="track" ng-repeat="track in projectValue.tracks">
                <input class="trackTitle" value="Untitled Track"></input>
                <button class="trackButton" ng-click="deleteTrack(track);">delete</button>
                <button class="trackButton">clone</button>
                <button class="trackButton">mute</button>
                <button class="trackButton">solo</button>
                <div class="trackTimeline">
                    <div class="loop" style="left: 64px; width: 128px;">
                        <div class="loopRepeat"></div>
                        <div class="loopRepeat" style="left: 32px;"></div>
                    </div>
                </div>
            </div>
            <button ng-click="newTrack();" id="newTrack">New Track</button>
        </div>
        <div ng-show="dialog.isVisible" id="dialogShade"></div>
        <div ng-show="dialog.isVisible" id="dialog">
            <div id="dialogTitle">{{dialog.title}}</div>
            <p id="dialogMessage">{{dialog.message}}</p>
            <div id="dialogButtonBar">
                <button class="dialogButton" ng-repeat="button in dialog.buttons" ng-click="button.click();">{{button.label}}</button>
            </div>
        </div>    
    </body>
</html>